[Desktop Entry]
Type=Application
Name=Tor Browser
Exec={{ tor_install_dir }}/Browser/start-tor-browser %u
Icon={{ tor_install_dir }}/Browser/browser/chrome/icons/default/default128.png
Categories=Network;WebBrowser;
Terminal=false
